/*==========================================================================
custom styles
  ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,800italic,800,700italic,700,600italic,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,700,500italic,500,400italic);
a:hover, a:focus { text-decoration: none; outline: none; }
button:focus { outline: none; }
body { font-family: 'Open Sans', sans-serif; }

/*Header Styles*/
.navbar { background-color: #002550; border-bottom: none; padding: 10px; }
.navbar .navbar-brand { padding: 5px 10px; }
.navbar .navbar-header ul { float: left; position: relative; padding: 10px; left: 15px; top: 2px; margin: 0px; }
.navbar .navbar-header ul a { padding: 6px 12px; color: #fff; background-color: #0090ff; border-color: #0090ff; font-size: 12px; font-weight: 600; }
.navbar .navbar-header ul a i { font-size: 20px; position: relative; top: 3px; }
.navbar .badge { margin-left: 10px; border-radius: 50%; width: 25px; height: 25px; line-height: 25px; padding: 0px; background-color: #3BC3FF; text-align: -webkit-center; font-weight: 600; }
.navbar .navbar-header ul a:hover { color: #000; }
.navbar .navbar-form { float: right; }
.navbar .navbar-form ul { margin: 0px; }
.navbar .navbar-form ul a { font-size: 16px; font-weight: 400; color: #aeb2c4; letter-spacing: 0.5px; padding: 0px 5px; line-height: 35px; font-family: 'Roboto', sans-serif; }
.navbar .navbar-form ul a i { color: #737a99; font-size: 18px; top: 1px; right: 5px; position: relative; }
.navbar .navbar-form ul a img { width: 30px; height: 30px; border-radius: 50%; float: right; display: table; position: relative; top: 5px; }
.sub_menu { position: fixed; width: 45%; background-color: #002550; top: 70px; display: none; z-index: 9; }
.sub_menu_col { display: table; position: relative; float: left; width: 100%; padding: 10px; }
.sub_menu .sub_menu_col ul { position: static !important; padding: 10px !important; width: 25%; }
.sub_menu .sub_menu_col ul li a { padding: 0px; font-size: 11px; background-color: transparent!Important; border: transparent; line-height: 25px; color: #ced5de; }
.sub_menu .sub_menu_col ul li a:hover { color: #fff; }
.sub_menu .sub_menu_col ul li a i { font-size: 12px; top: 0px; padding-right: 5px; color: #6fa7d7; }
.sub_menu .sub_menu_col ul li h5 { color: #ced5de; font-weight: 600; font-size: 11px; cursor: pointer; }
.navbar .navbar-form ul li .form-control { border-radius: 20px !important; border: 2px solid #fff; background-color: #002550; background-image: url('../img/search-icon.png'); background-size: 8%; background-repeat: no-repeat; background-position: 155px 8px; color: #fff; }
.navbar .navbar-form ul li .form-control::-webkit-input-placeholder { color: #fff; }

/*Header Styles*/

/*Footer Styles*/
footer { position: fixed; bottom: 0px; width: 100%; left: 0px; right: 0px; height: 25px; background: #002550; border-top: none; color: #FFF; }
footer p { padding: 4px 10px; font-size: 12px; }

/*Footer Styles*/

/*Button Styles*/
button.btn { border-radius: 0px; }

/*End Button Styles*/

/*Dashboard Styles*/
#inviteusers input { border-radius: 0px; height: 50px; margin-bottom: 10px; }
#inviteusers .btn.btn-default { color: white; background: #3BC3FF; border-color: #3BC3FF; font-weight: 400; letter-spacing: 0.5px; font-family: 'Roboto', sans-serif; }
#inviteusers .btn.btn-primary { color: white; background: #444; border-color: #444; font-weight: 400; letter-spacing: 0.5px; font-family: 'Roboto', sans-serif; }

/*End Dashboard Styles*/

/*Modal Styles*/
.modal-content { border-radius: 0px; }
.modal-header { background: #007AFF; color: #fff; }
.modal-header .close { color: #fff; font-size: 30px; font-weight: 100; opacity: 1; }

/*End Modal Styles*/
@media (max-width:1280px) {
	.navbar .navbar-form { margin: 0px auto; display: table; width: 100%; padding: 15px 0px; box-shadow: none; border-top: 1px solid #fff; }
	.navbar .navbar-form ul { margin: 0px auto; display: table; }
	.sub_menu { right: 0px; width: 60%; background-color: #002550; top: 70px; }
	.navbar-header { width: 100%; }
	.navbar .navbar-header ul { float: right; }
	.navbar-toggle .icon-bar { background-color: #fff; }
}
@media (max-width:767px) {
	.navbar .navbar-form ul a { padding: 0px 15px; }
	.navbar .badge { margin-top: 5px; float: left; }
	.navbar { padding-bottom: 0px; padding-top: 0px; }
	.navbar_mob { display: table; width: 100%; top: 50px; top: 30px; padding: 0px; }
	.navbar-fixed-top .navbar-collapse { border-top: 1px solid#fff; }
	.container-fluid>.navbar-header { margin: 0px; }
	.navbar .container-fluid { padding: 0px; }
	.navbar-toggle { margin-right: 0px; }
	.sub_menu.sub_menu_mob { display: block; position: static; overflow: auto; }
	.sub_menu.sub_menu_mob ul { float: left; }
	.sub_menu { width: 100%; }
	.navbar-form ul li { width: 100%; text-align: left; padding: 5px 5px; }
	.navbar .navbar-form ul li .form-control { background-size: 3%; background-position: 98%; }
}
@media (max-width:560px) {
	.sub_menu .sub_menu_col ul { float: left; width: 50%; }
}
@media (max-width:470px) {
	.sub_menu { top: 70px; }
	.navbar .navbar-header ul { float: left; width: 100%; text-align: center; }
}